img {
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

h1, p, ul, ol, h2, h3 {
    text-align: center;
}

h1 {

    color: red;
    font-size: 34px;
    font-family: Georgia;
}